.create {
	padding: 5rem 0;
}

.form-grid {
	@media only screen and(min-width:$v-9) {
		/* flex-direction: row;
        max-width: 100%; */
		.form-left {
			flex: 1;
			margin-right: 1rem;
		}
		.form-right {
			margin-left: 1rem;
			flex: 1;
		}
		display: grid;
		grid-template-columns: 1fr 1fr;
		max-width: 80rem;
		justify-content: center;

		.heading {
			grid-column: 1 / -1;
			justify-self: center;
			text-align: center;
		}

		.file {
			grid-column: 1 / -1;
			justify-self: center;
			width: 50%;
		}

		.button {
			grid-column: 1 / -1;
			justify-self: center;
			width: 50%;
			max-width: 30rem;
		}
		.files {
			grid-column: 1 / -1;
			justify-self: center;
			width: 50%;
			max-width: 30rem;
		}
	}
}
.file {
	.dropzone {
		border: 2px dashed $accent;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: $grey-light;
		padding: 2rem 0;
		width: 100%;
		cursor: pointer;
		img {
			margin-bottom: 1rem;
		}
	}
}
.files {
	font-size: 1.8rem;
}
