.form {
	color: $font-color;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	width: 85%;
	max-width: 45rem;
	padding: 3rem 4rem;

	background: $white;
	box-shadow: 0 2px 8px 0 hsla(0, 0%, 0%, 0.3);

	animation: down 0.5s forwards;
	.form-group {
		display: flex;
		flex-direction: column;

		position: relative;
		margin: 1.2rem 0;

		h3 {
			padding: 1rem 0;
			text-align: center;
		}
		input {
			@include input;
			margin-bottom: 0.2rem;
		}

		input:focus {
			border-bottom: 1px solid $tertiary;
		}
		label {
			font-weight: 500;
			margin-bottom: 0.75rem;
		}

		.radio-buttons {
			display: flex;
			align-items: center;
			justify-content: flex-start;

			background-color: $grey-light;
			padding: 1.4rem;
			input {
				flex-basis: 20%;
			}
			label[for='internetNo'] {
				margin-left: 1.4rem;
			}
			label {
				margin: 0;
			}
		}
		textarea {
			padding: 1.5rem 1rem;
			border: 1px solid $grey-light;
			outline: none;
			font-size: 1.6rem;
			background-color: $grey-light;
		}
	}
}

.login {
}
.register {
}
