.header {
	display: flex;
	align-items: center;

	width: 100%;
	height: 9vh;
	position: sticky;
	top: 0;
	flex: 1;
	background-color: $primary;
	z-index: 10;
}

.wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 85%;
	max-width: 120rem;
	margin: 0 auto;

	.logo {
		font-family: 'Lobster', cursive;
		font-size: 2.5rem;
	}
	.hamburger-menu {
		@media only screen and(min-width:$v-6) {
			display: none;
		}
		position: relative;
		top: 0.5rem;
		width: 3rem;
		height: 3rem;
		display: block;

		cursor: pointer;
		.menu-top,
		.menu-mid,
		.menu-down {
			position: absolute;
			top: 0;
			left: 0;
			height: 0.3rem;
			width: 3rem;
			background-color: $white;
		}
		.menu-mid {
			top: 1rem;
		}
		.menu-down {
			top: 2rem;
		}
	}
}
nav {
	@media only screen and(max-width:$v-6) {
		position: fixed;
		top: 0;
		right: 0;
	}
}
.nav-items {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media only screen and(max-width:$v-6) {
		position: fixed;
		top: 0;
		right: 0;
		flex-direction: column;
		justify-content: center;
		z-index: 20;

		top: 9vh;
		background-color: $primary;
		width: 50vw;
		height: 91vh;
		.nav-item {
			font-size: 2.2rem;
			padding: 2rem !important;
		}

		transform: translateX(50vw);
		transition: transform 0.2s ease-in-out;
	}

	.nav-item {
		padding: 0 2rem;

		.nav-link {
			color: $white;
		}
	}
}

.open {
	transform: translateX(0);
}
