.button__create {
	padding-top: 5rem;
	text-align: center;
}

.showcase {
	display: grid;
	padding: 5rem 0;
	grid-template-columns: 1fr 1fr;

	align-items: center;
	justify-content: center;
	width: 85%;
	max-width: 120rem;
	margin: 0 auto;

	gap: 5rem;
	row-gap: 3.5rem;
}

.home {
	grid-column: 1 / -1;
	display: flex;
	flex-direction: column;
	max-width: 100%;

	color: $font-color;

	animation: down 1s ease forwards;

	& > * + * {
		margin-top: 2rem;
	}
	@media only screen and(min-width:$v-9) {
		&-one,
		&-three {
			grid-column: 1 / 2;
		}
		&-two,
		&-four {
			grid-column: 2 / 3;
		}
	}

	.home__image {
		width: 100%;
		height: 50rem;
		overflow: hidden;
		align-self: center;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__name {
		text-align: center;
		font-size: 2.2rem;
		font-weight: 600;
	}
	&__inner,
	&__outer {
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin: 0;
		padding: 2rem 0;
		background-color: $grey-light;
		border-radius: 3px;
		& > * {
			font-weight: 600;
			flex: 1;
			img {
				margin-bottom: 0.5rem;
				width: 2.5rem;
				height: 2.5rem;
			}
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__outer {
		margin-top: 2rem;
	}
	&__buttons {
		display: flex;
		margin: 2rem auto;
		width: 75%;
		justify-content: space-around;
	}
}
