/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-size: 1.6rem;
  line-height: 1.6;
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100%;
}

@media only screen and (min-width: 125em) {
  html {
    font-size: 75%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 57.5%;
  }
}

@media only screen and (max-width: 43.75em) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 43.75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 25em) {
  html {
    font-size: 45%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #fffffe;
  font-size: 1.6rem;
  background-color: #eee;
  overflow-x: hidden;
  height: 100%;
}

.wrapping {
  margin: 0 auto;
  max-width: 120rem;
  width: 85%;
  min-height: 91vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heading-1 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 300;
  outline: none;
}

.heading-2 {
  font-size: 2.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.heading-3 {
  font-size: 2.4rem;
}

.btn {
  display: inline-block;
  border: 0;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0.5rem;
  font-weight: 600;
  color: #fffffe;
  background-color: #6abe45;
  padding: 0.75em 1.2em;
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.btn:hover {
  opacity: 0.9;
}

.footer {
  background-color: #212529;
}

.footer .footer-social {
  width: 50%;
  margin: 0 auto;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .footer-copyright {
  text-align: center;
  color: #696b70;
  padding-bottom: 2rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 9vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #212529;
  z-index: 10;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  max-width: 120rem;
  margin: 0 auto;
}

.wrapper .logo {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
}

.wrapper .hamburger-menu {
  position: relative;
  top: 0.5rem;
  width: 3rem;
  height: 3rem;
  display: block;
  cursor: pointer;
}

@media only screen and (min-width: 37.5em) {
  .wrapper .hamburger-menu {
    display: none;
  }
}

.wrapper .hamburger-menu .menu-top,
.wrapper .hamburger-menu .menu-mid,
.wrapper .hamburger-menu .menu-down {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.3rem;
  width: 3rem;
  background-color: #fffffe;
}

.wrapper .hamburger-menu .menu-mid {
  top: 1rem;
}

.wrapper .hamburger-menu .menu-down {
  top: 2rem;
}

@media only screen and (max-width: 37.5em) {
  nav {
    position: fixed;
    top: 0;
    right: 0;
  }
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .nav-items {
    position: fixed;
    top: 0;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 20;
    top: 9vh;
    background-color: #212529;
    width: 50vw;
    height: 91vh;
    -webkit-transform: translateX(50vw);
            transform: translateX(50vw);
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }
  .nav-items .nav-item {
    font-size: 2.2rem;
    padding: 2rem !important;
  }
}

.nav-items .nav-item {
  padding: 0 2rem;
}

.nav-items .nav-item .nav-link {
  color: #fffffe;
}

.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.button__create {
  padding-top: 5rem;
  text-align: center;
}

.showcase {
  display: -ms-grid;
  display: grid;
  padding: 5rem 0;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 85%;
  max-width: 120rem;
  margin: 0 auto;
  gap: 5rem;
  row-gap: 3.5rem;
}

.home {
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  color: #121314;
}

.home > * + * {
  margin-top: 2rem;
}

@media only screen and (min-width: 56.25em) {
  .home-one, .home-three {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .home-two, .home-four {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

.home .home__image {
  width: 100%;
  height: 50rem;
  overflow: hidden;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home .home__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.home__name {
  text-align: center;
  font-size: 2rem;
}

.home__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home__outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.form {
  color: #121314;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 85%;
  max-width: 45rem;
  padding: 3rem 4rem;
  background: #fffffe;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  -webkit-animation: down 0.5s forwards;
          animation: down 0.5s forwards;
}

.form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: 1.2rem 0;
}

.form .form-group h3 {
  padding: 1rem 0;
  text-align: center;
}

.form .form-group input {
  font-size: 1.6rem;
  font-weight: 500;
  color: #121314;
  padding: 1rem 1.2rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #d8dfee;
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
  background-color: #d8dfee;
  margin-bottom: 0.2rem;
}

.form .form-group input:focus {
  border-bottom: 1px solid #0097e6;
}

.form .form-group label {
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.form .form-group .radio-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #d8dfee;
  padding: 1.4rem;
}

.form .form-group .radio-buttons input {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.form .form-group .radio-buttons label[for='internetNo'] {
  margin-left: 1.4rem;
}

.form .form-group .radio-buttons label {
  margin: 0;
}

.form .form-group textarea {
  padding: 1.5rem 1rem;
  border: 1px solid #d8dfee;
  outline: none;
  font-size: 1.6rem;
  background-color: #d8dfee;
}

.create {
  padding: 5rem 0;
}

@media only screen and (min-width: 56.25em) {
  .form-grid {
    /* flex-direction: row;
        max-width: 100%; */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    max-width: 80rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form-grid .form-left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 1rem;
  }
  .form-grid .form-right {
    margin-left: 1rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .form-grid .heading {
    grid-column: 1 / -1;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  .form-grid .file {
    grid-column: 1 / -1;
    -ms-grid-column-align: center;
        justify-self: center;
    width: 50%;
  }
  .form-grid .button {
    grid-column: 1 / -1;
    -ms-grid-column-align: center;
        justify-self: center;
    width: 50%;
    max-width: 30rem;
  }
}

.file .dropzone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d8dfee;
  height: 5rem;
  width: 100%;
}

.details {
  max-width: 100rem;
  padding: 5rem 0;
  width: 85%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
}

.details__image {
  max-height: 75rem;
  overflow: hidden;
}

.details__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.details__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2.5rem 1rem;
  background-color: #d8dfee;
  color: #121314;
  font-size: 1.8rem;
}

.details__info .details__outer > *,
.details__info .details__inner > * {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details__info .details__outer > * img,
.details__info .details__inner > * img {
  margin-right: 2rem;
  width: 2.5rem;
  height: 2.5rem;
}

.details__datepicker {
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details__datepicker .form {
  max-width: 50rem;
}
/*# sourceMappingURL=app.css.map */