<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="../assets/css/app.css" />
	</head>
	<body>
		<header class="header">
			<div class="wrapper">
				<div class="logo">MoStan</div>
				<div class="hamburger-menu">
					<div class="menu-top"></div>
					<div class="menu-mid"></div>
					<div class="menu-down"></div>
				</div>
				<nav>
					<ul class="nav-items">
						<li class="nav-item">
							<a href="#" class="nav-link">Pocetna</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">Prijava</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">Registracija</a>
						</li>
					</ul>

					<!-- Ako je ulogiran -->

					<!-- <ul class="nav-items">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Pocetna</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Odjavi se</a>
                        </li>
                    </ul> -->
				</nav>
			</div>
		</header>

		<main>
			<div class="showcase">
				<div class="home home-one">
					<div class="home__image">
						<img
							width="1200"
							height="800"
							src="https://source.unsplash.com/random/1200x800"
							alt="House 1"
						/>
					</div>

					<div class="home__name">Naziv</div>

					<div class="home__outer">
						<div class="home__location">Lokacija</div>
						<div class="home__price">Cijena</div>
					</div>
					<div class="home__inner">
						<div class="home__area">Kvadratura</div>
						<div class="home__rooms">Broj soba</div>
					</div>
					<button class="btn" href="#">Rezerviraj</button>
				</div>
				<div class="home home-two">
					<div class="home__image">
						<img
							width="1200"
							height="800"
							src="https://source.unsplash.com/random/1200x800"
							alt="House 1"
						/>
					</div>
					<div class="home__name">Naziv</div>
					<div class="home__outer">
						<div class="home__location">Lokacija</div>
						<div class="home__price">Cijena</div>
					</div>
					<div class="home__inner">
						<div class="home__area">Kvadratura</div>
						<div class="home__rooms">Broj soba</div>
					</div>
					<a class="btn" href="#">Rezerviraj</a>
				</div>
				<div class="home home-three">
					<div class="home__image">
						<img
							width="1200"
							height="800"
							src="https://source.unsplash.com/random/1200x800"
							alt="House 1"
						/>
					</div>
					<div class="home__name">Naziv</div>
					<div class="home__outer">
						<div class="home__location">Lokacija</div>
						<div class="home__price">Cijena</div>
					</div>
					<div class="home__inner">
						<div class="home__area">Kvadratura</div>
						<div class="home__rooms">Broj soba</div>
					</div>

					<a class="btn" href="#">Rezerviraj</a>
				</div>
				<div class="home home-four">
					<div class="home__image">
						<img
							width="1200"
							height="800"
							src="https://source.unsplash.com/random/1200x800"
							alt="House 1"
						/>
					</div>
					<div class="home__name">Naziv</div>
					<div class="home__outer">
						<div class="home__location">Lokacija</div>
						<div class="home__price">Cijena</div>
					</div>
					<div class="home__inner">
						<div class="home__area">Kvadratura</div>
						<div class="home__rooms">Broj soba</div>
					</div>
					<a class="btn" href="#">Rezerviraj</a>
				</div>
			</div>
		</main>

		<footer class="footer">
			<div class="footer-social">
				<a href="#">
					<img src="../assets/img/icons/fb.svg" alt="" />
				</a>
				<a href="#">
					<img src="../assets/img/icons/gh.svg"" alt="" />
				</a>
				<a href="#">
					<img src="../assets/img/icons/ig.svg"" alt="" />
				</a>
			</div>
			<div class="footer-copyright">&copy; MoStan 2020</div>
		</footer>

		<script src="./js/header.js"></script>
	</body>
</html>
